<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Charlie's Smartthings</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
</head>

<body>
    <header>
        <h1>Charlie's Smartthings</h1>
    </header>

    <main>
        <h2>Oh hi,</h2>

        <p>Show Me All The Devices</p>


        <section class="devices">
            <ul id="devices">
                <em>loading devices&hellip;</em>
            </ul>
        </section>
    </main>

</body>

</html>