* {
    box-sizing: border-box;
}

body {
    /*font-family: sans-serif;*/
    margin: 2em 1em;
    /*line-height: 1.5em;*/
}

button {
    margin-right: 20px;
}

.center {
    text-align: center;
}

.deviceCell {
    border: 1px #bbb solid;
    font-size: 1rem;
}

.buttonCell {
    padding: 10px;
    max-width: 60rem;
}

.italic {
    font-style: italic;
}

.blue {
    color: blue;
}

.default-background {
    background-color: bisque;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.closed {
    background-color: pink;
}

.open {
    background-color: lightgreen;
}

.off {
    background-color: gray;
}

.on {
    background-color: lightgoldenrodyellow;
}