* {
    box-sizing: border-box;
}

body {
    /*font-family: sans-serif;*/
    margin: 2em 1em;
    /*line-height: 1.5em;*/
}

button {
    margin-right: 20px;
}

.center {
    text-align: center;
}

#rowOfDevices {}

.rowCell {
    background-color: black;
    margin: 0.2em;
    font-size: 1em;
    display: block;
    float: left;
    max-width: 30em;
    min-height: 4em;
    padding: 1em;
}

.deviceCell {
    border: 1px #bbb solid;
    font-size: 1rem;
    display: inline-block;
    max-width: 10rem;
    min-height: 4rem;
}

.buttonCell {
    padding: 10px;
    display: inline-block;
    max-width: 10rem;
    min-height: 4rem;
}

.italic {
    font-style: italic;
}

.blue {
    color: blue;
}

.normalWeight {
    font-weight: 'normal';
}

.boldWeight {
    font-weight: 'bold';
}

.default-background {
    background-color: bisque;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

/* switch */

.closed {
    background-color: pink;
}

.open {
    background-color: lightgreen;
}

/* light */

.off {
    background-color: #ccc;
}

.on {
    background-color: lightgoldenrodyellow;
}

/* water sensor */

.wet {
    background-color: deepskyblue;
}

.dry {
    background-color: lightgoldenrodyellow;
}